__pycache__/
venv/
*.pyc

# Environment variables and secrets
.env
env.json

# Database
test.db

# AWS SAM
.aws-sam/


# Utility and Test scripts
test.py
test_prod_api.py
show_rds_tables.py

# Testing
.coverage
.pytest_cache/

# IDE & Editor specific
.vscode/
.idea/

# macOS
.DS_Store

# IDE & Editor specific
.vscode/
.idea/

# macOS
.DS_Store